<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Login Form</title>
    <link rel = "stylesheet" href = /static/login.css>
</head>
<body>
<div th:insert="~{common/header :: header}"></div>

<div class="container">
    <div class="form-wrapper">
        <h1>User Login</h1>
        <form role="form" th:action="@{/login}" th:object="${login}" method="post">
            <div class="form-group">

                <div>
                    <label>Email</label>
                    <input type="email" th:field="*{email}" placeholder="Enter your email" required>
                </div>

                <div>
                    <label>Password</label>
                    <input type="password" th:field="*{password}" placeholder="Enter your password" required>
                </div>

                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{common/footer :: footer}"></div>
</body>
</html>
